{% extends 'base.html.twig' %}

{% block title %}Mes motos - Travel With Your Bike{% endblock %}

{% block content %}
    <a href="{{ path('account_moto_add') }}" class="btn btn-info btn-sm float-right">Ajouter une moto</a>

    <h1>Mes motos</h1>

    <p>
        Bienvenue {{ app.user.firstname }} dans votre compte, gestion des motos
        <br>
        C'est dans cet espace que vous allez pouvoir gérer toutes vos motos. <br>
        <a href="{{ path('account') }}">Retour</a>
    <hr>
    </p>
    {% if app.user.motos|length == 0  %}
        <p>Vous n'avez pas encore ajouté de motos dans votre compte client. Pour en ajouter une, veuillez <a href="{{ path('account_moto_add') }}">cliquer ici</a></p>
    {% else %}
        <div class="row">
            {% for moto in app.user.motos %}

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ moto.brand }}</h5>
                            <p class="card-text">
                                <strong>Modèle : </strong>{{ moto.model }}<br>
                                <strong>Immatriculation : </strong>{{ moto.matriculation }} <br>
                                <strong>Poids : </strong>{{ moto.weight }}kg
                            </p>
                            <a href="{{ path('account_moto_edit', {'id' : moto.id}) }}">Modifier</a> | <a href="{{ path('account_moto_delete', {'id' : moto.id}) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

