{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block content %}

    {% if rides|length > 0 %}
        <h3>Il ne reste que quelques places</h3>
        <p class="strong">Ces dates sont bientôt completes!</p>
        <div class="row">
            {% for ride in rides %}
                <div class="col-md-4">
                    {% include 'ride/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div><!-- /.row -->
    {% endif %}

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading mb-5">Que proposons-nous ?</h2>
            <p class="paragraph-block">Nous vous proposons un transport sécurisé de nuit pour vous et votre moto sur plusieurs grandes
                destinations de France au départ de Calais. <br><br>
                Pour cette première année les arrivées se feront à Marseille, Grenoble ou encore Cahors.
                À raison de deux à trois départs par semaine selon le planning, vous embarquez en soirée, votre moto
                est arrimée sur une remorque adaptée par un professionnel et vous et votre bagage prendrez place
                dans un van avec des fauteuils confortables qui vous permettront de vous reposer pendant ce trajet qui
                durera moins de 12h. Une glacière est également mise à disposition pour vous proposer des
                rafraîchissements.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/moto.jpg') }}" data-aos="zoom-out-up" class="img-fluid" alt="Motard sur sa moto">
        </div>
    </div>

    <hr class="featurette-divider">

    <h3 class="text-center">Comment fonctionne Travel With Your Bike ? </h3>
    <hr class="w-50 mb-5">

    <div class="number-container row mb-5 mx-auto">
        <div class="number-row col-md-3 mx-auto text-center"  data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000"
             data-aos-delay="100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title number">1</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Itinéraire</h6>
                    <hr>
                    <p class="card-text">Trouvez votre trajet parmis les itinéraires suivants Calais-Marseille, Calais-Grenoble ou Calais-Cahors.
                        <a href="{{ path('rides') }}">ici</a></p>
                    <img src="{{ asset('assets/img/road.png') }}" class="img-fluid col-md-6 test" alt="Avatar route">
                </div>
            </div>
        </div>

        <div class="number-row col-md-3 mx-auto text-center"  data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000"
             data-aos-delay="100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title number">2</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Réservation</h6>
                    <hr>
                    <p class="card-text">Réservez votre trajet pour votre moto remorquée avec la possibilité de participer au voyage dans notre van équipé.</p>
                    <img src="{{ asset('assets/img/booking.png') }}" class="img-fluid col-md-6 test" alt="Avatar route">
                </div>
            </div>
        </div>

        <div class="number-row col-md-3 mx-auto text-center"  data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000"
             data-aos-delay="100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title number">3</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Chargement</h6>
                    <hr>
                    <p class="card-text">Prise en charge et chargement de la moto sur la remorque au point de rendez-vous en fonction de l'itinéraire</p>
                    <img src="{{ asset('assets/img/motorbike.png') }}" class="img-fluid col-md-6" alt="Avatar route">
                </div>
            </div>
        </div>
    </div>

    <div class="number-container row mx-auto">
        <div class="number-row col-md-3 mx-auto text-center"  data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000"
             data-aos-delay="100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title number">4</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Trajet</h6>
                    <hr>
                    <p class="card-text">Trajet de nuit jusqu'au point défini lors de la réservation</p>
                    <img src="{{ asset('assets/img/measure-distance.png') }}" class="img-fluid col-md-6 test" alt="Avatar route">
                </div>
            </div>
        </div>

        <div class="number-row col-md-3 mx-auto text-center"  data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000"
             data-aos-delay="100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title number">5</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Déchargement</h6>
                    <hr>
                    <p class="card-text">Déchargement de votre moto au point d'arrivée le lendemain matin</p>
                    <img src="{{ asset('assets/img/bike.png') }}" class="img-fluid col-md-6 test" alt="Avatar route">
                </div>
            </div>
        </div>

        <div class="number-row col-md-3 mx-auto text-center"  data-aos="flip-up"
             data-aos-easing="ease-out-cubic"
             data-aos-duration="2000"
             data-aos-delay="100">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title number">6</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Profiter</h6>
                    <hr>
                    <p class="card-text">Il ne vous reste plus qu'à profiter des lieux !</p>
                    <img src="{{ asset('assets/img/mountain.png') }}" class="img-fluid col-md-6 test" alt="Avatar route">
                </div>
            </div>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading mb-5">Quels avantages offrent ce service ? </h2>
            <p class="paragraph-block">Premièrement ce service vous permet d’éviter 1000 km d'autoroute monotone, deuxièmement vous
                pourrez vous économiser physiquement et le plus important, vous préservez votre machine (pneu,
                moteur, usure) pour finir vous arrivez en pleine forme à destination.<br> <br>
                Aussi, nous vous proposons un prix fixe qui englobe le transport, l’arrimage et la sécurité, fini les
                questions gênantes telles que « comment vais-je pouvoir me rendre tel jour à telle heure à la gare pour
                récupérer ma moto ? », « ou vais-je dormir pour faire une pause sur ma route ? », « qui va surveiller ma
                moto sur le parking ? ». Vous n’avez rien à penser nous le faisons pour vous !</p>
        </div>
        <div class="col-md-5 my-auto mx-auto">
            <img src="{{ asset('assets/img/autoroute.jpg') }}" data-aos="zoom-out-up" class="img-fluid" alt="Autoroute">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading mb-5">Pourquoi ces trajets ?</h2>
            <p class="paragraph-block"><strong>De Calais à Marseille : </strong>si vous désirez vous rendre en Corse il ne vous reste qu'à prendre le bateau,
                aussi, vous êtes à proximité de la frontière italienne ou encore vous pouvez profiter de la Côte d'Azur.
                <br><br>
                <strong>De Calais à Grenoble :</strong> vous aurez le loisir de prendre la n 85, route Napoléon, balade mythique pour le
                motard qui descend jusqu'à Cannes. Il ne vous restera qu’à profiter du Sud de la France.
                <br><br>
                <strong>De Calais à Cahors : </strong>C’est une ville très prisée des Anglais de par son patrimoine, les routes sont
                bitumées, traversées de petits villages arborés, avec possibilité de manger et se désaltérer, beaucoup
                de sites pittoresques, médiévaux, accès au chemin de Compostelle etc... <br> <a href="https://www.cahorsvalleedulot.com">(https://www.cahorsvalleedulot.com)</a> </p>
                <br>
                <p>Dans tous les cas une fois arrivé à destination vous êtes libre d'aller où vous le désirez ou même de
                trouver une location pour vos vacances.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/motoSec.jpg') }}" data-aos="zoom-out-up" class="img-fluid" alt="Motard sur sa moto">
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}