{% extends 'base.html.twig' %}

{% block title %}{{ ride.title }} - Travel With Your Bike{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ ride.illustration }}" alt="{{ ride.title }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ ride.title }}</h3>
            <p>{{ ride.subtitle }}</p>
            <span class="product-price">Prix total du voyage : 380,00 €</span><br>
            <span class="product-price"><strong>A payer aujourd'hui : {{ (ride.price / 100)|number_format(2, ',', '.') }} € / passager </strong></span> <br>

            <hr>
            <p>
                {{ ride.description | raw }}
            </p>
            <a href="{{ path('add_to_cart', { 'id' : ride.id }) }}" class="btn btn-primary">Choisir cette date</a>
        </div>
    </div>
    <hr>




{% endblock %}
