
<div class="product-item text-center">
    <a href="{{ path('ride', {'slug': ride.slug} ) }}"><img src="/uploads/{{ ride.illustration }}" alt="{{ ride.title }}" class="img-fluid"></a>
    <h5>{{ ride.title }}</h5>
    <h6>Date de départ : </h6>
    <span class="product-subtitle"> {{ ride.departureDate |format_datetime(locale='fr')  }}</span><br>
    <span class="product-subtitle">Trajet : {{ ride.subtitle }}</span>
    <span class="product-subtitle">Nombre de places restantes : {{ ride.maxPeople }}</span>
    <span class="product-subtitle">Chargement restant : {{ ride.maxWeight }}kg</span>

    <span class="product-price">299,90€</span><br>
    <a href="{{ path('ride', {'slug': ride.slug} ) }}" class="btn btn-primary mt-2">Choisir cette date</a>
</div>
