{% extends 'base.html.twig' %}

{% block title %}Valider mon trajet - Nom du Site{% endblock %}

{% block content %}
    <h2>Je valide mon trajet</h2>

    <p>Choissez votre moto avant de valider votre voyage avec Travel With Your Bike</p>
    <hr>
    <div class="row">
        <div class="col-md-7">

            {% set formHtml %}
                {{ form_start(form, {action:path('order_recap' )}) }}
                {{ form_label(form.motos, 'Choissez votre moto') }}
                <a href="{{ path('account_moto_add') }}"> Ajouter une nouvelle moto</a>
                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br/>', '[strong]' : '<strong>', '[/strong]' : '</strong>'})|raw }}



        </div>
        <div class="col-md-5 block-order-summary">
            <div class="text-center mb-5">
                <h4>Retrouver le recapitulatif de votre trajet</h4>
            </div>
            <div class="order-summary my-auto ml-3 mt-3">
                {% for ride in cart %}
                    <div class="row">
                        <div class="col-7 col-md-12">
                            <img src="/uploads/{{ ride.ride.illustration }}" class="img-validate mx-auto" alt=" {{ ride.ride.title }}" height="250px">
                        </div>
                        <div class="col-12 mt-2">
                            <h5>{{ ride.ride.title }}</h5><br>
                            <span class="product-subtitle">{{ ride.ride.subtitle }}</span><br>

                            <span class="product-subtitle"><strong>Départ le :</strong>  {{ride. ride.departureDate|format_datetime(locale='fr') }}</span><br>
                            <span class="product-subtitle"><strong>Arrivée le :</strong> {{ ride.ride.arrivalDate|format_datetime(locale='fr') }}</span><br>
                            <span class="product-price"><strong>Prix : </strong>299,90 €</span><br>
                            <strong>A payer aujourd'hui <small>(accompte)</small> : </strong> {{ ride.ride.price|number_format(2, ',','.') }}  €</span>
                            <br>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
